/*RESET*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* Estilo de header */
.banner{
    display: flex;
    justify-content: center;
    height: 200px;
    background-color: #056AA6;    
}

.banner img{
    height: 150px;
    margin-top: 25px;
    justify-content: center;
}

/* Estilos de menu */
.nav-ppal {
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    align-items: center;
}

.nav-bt4{
    background-color: #063f5e;
}

.titulos-menu{
    
    list-style: none;
    margin-left: 25px;
    margin-bottom: 15px;
    text-align: center;
}

.titulo-ppal{
    color: #063f5e;
    font-weight: bold;
    text-align: center;
    -webkit-text-stroke: 0.25px black;
}

.texto-titulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
    color: black;    
}
.texto-titulos-menu{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
    color: #e09f44!important;
    
}


/*Estilos textos main*/

h1{
    color: #063f5e;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    -webkit-text-stroke: 0.25px black;
}

h2{
    color: #063f5e;
    font-weight: 600;
    -webkit-text-stroke: 0.25px black;
    text-align: center;
    margin-top: 10px;

}
.parrafo{
    font-weight: 500;
    color: #063f5e;
    font-size: 22px;
    text-align: justify;
    padding: 30px;
    margin-bottom: 0;    
}

.main-color{
    background-color: #e09f44;
}

.img-digimon{
    height: 400px;
}
/*Estilo de footer*/
footer{
    background-color:#063f5e;
}
footer p{
    text-align: center;
    color: #e09f44;
    margin-bottom: 0;
}

/*Estilo de temporadas*/

.pagina-secundaria{
    background-color: cornflowerblue;
}

main div h3{
    text-align: center;
    background-color: rgb(56, 64, 179);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}



main div img{
    height: 300px;
    width: 350px;
    display: flex;
    margin: 0 auto;        
}


/*Estilo Personajes*/
.personaje{
    
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

.subtitulo-personaje{
        display: inline;
        text-align: left;
        font-size: 30px;
}

.Descripcion-personaje{
    display: inline;

}

.div-personajes{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

main .img-personaje, .img-pelicula{
    display: block;
    margin: auto;   
}

/*Estilos de main - Contacto*/
.main-contacto{
    background-color: cornflowerblue;
}

/* Estilo para formulario */

main .div-formulario{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
    padding: 15px;
}

.textarea-formulario{
    margin: 15px;
}

.form-grilla{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;

}
/* form label, input{
    display: block;
    margin-left: 5px;
    margin-top: 15px;
} */

.form__div-uno{
    display:flex;
    flex-flow: column wrap;
    font-weight:bold ;
    
}

.form__div-dos{
    font-weight: bold;
}


/*Estilos Peliculas*/

.pelicula{
    background-color: rgb(56, 64, 179);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

.sinapsis{
  
    text-align: left;
    font-size: 30px;
}

